@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
/** Media Queries **/
html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  line-height: 1.8;
}

p {
  color: #000000;
  font-size: 2rem;
}

.contenedor {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

img,
picture {
  width: 100%;
  display: block;
}

h1, h2, h3 {
  font-family: "Lato", sans-serif;
  margin: 2rem 0;
  font-weight: 300;
  text-align: center;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 3.4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.6rem;
}

.seccion {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.contenido-centrado {
  max-width: 80rem;
}

.alinear-derecha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header {
  background-color: #333333;
  padding: 1rem 0 3rem 0;
  font-family: 'Roboto', sans-serif;
}

.header.inicio {
  background-position: center center;
  background-size: cover;
}

@media (min-width: 768px) {
  .header.inicio {
    min-height: 70rem;
  }
}

@media (min-width: 768px) {
  .header.inicio .contenido-header {
    min-height: 70rem;
  }
}

.contenido-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contenido-header h1 {
  text-align: left;
  color: #FFFFFF;
  font-weight: 700;
  line-height: 2;
  max-width: 60rem;
}

.footer {
  padding: 2rem;
  background-color: #333333;
  margin-bottom: 0;
}

.footer .contenedor-footer {
  padding-top: 2rem;
}

.footer .navegacion {
  visibility: visible;
  opacity: 1;
  height: auto;
}

.footer .copyright {
  color: #FFFFFF;
  text-align: center;
}

.derecha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .derecha {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.derecha .dark-mode-boton {
  width: 3rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.derecha .dark-mode-boton:hover {
  cursor: pointer;
}

@media (min-width: 768px) {
  .derecha .dark-mode-boton {
    margin-top: 0;
  }
}

.barra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3rem;
}

@media (min-width: 768px) {
  .barra {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.navegacion {
  visibility: hidden;
  opacity: 0;
  height: 0;
  -webkit-transition: visibility .3s ease-in-out, opacity .5s linear, height .5s linear;
  transition: visibility .3s ease-in-out, opacity .5s linear, height .5s linear;
}

@media (min-width: 768px) {
  .navegacion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 1;
    visibility: visible;
  }
}

.navegacion a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 2.2rem;
  display: block;
  text-align: center;
}

@media (min-width: 768px) {
  .navegacion a {
    margin-right: 2rem;
    font-size: 1.8rem;
  }
  .navegacion a:last-of-type {
    margin-right: 0;
  }
}

.navegacion a:hover {
  color: #71B100;
}

/** Menu de hamburguesa **/
@media (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu img {
  width: 5rem;
}

.mostrar {
  visibility: visible;
  opacity: 1;
  height: auto;
}

.btn_menos {
  width: 25%;
  float: left;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  color: #808080;
  padding-top: 8px;
}

.btn_menos:hover {
  color: #000;
}

.btn_mas {
  width: 25%;
  float: left;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  color: #808080;
  padding-top: 8px;
}

.btn_mas:hover {
  color: #000;
}
/*# sourceMappingURL=index.css.map */