.pokebolla{
    height: 300px;
    width: 30px;
}
.imagen-detail{
    height: 500px;
    width: 500px;
}

.pokebolla-gira{
    border-right: 300px;
    border-bottom: 300px;
    height: 500px;
    width: 500px;
}